body {
  width: 100vw;
  height: auto!important;
}

.ContenidoPrincipal {
  margin: 100px 20% 0 20%;
}

.ImagenLogin {
  text-align: center;
}

.FormularioLogin__password {
  margin-top: 0.5rem;
}

.FormularioLogin__boton {
  text-align: center;
}